[submodule "backend"]
    path = backend
    url = https://github.com/swarupcs/Dev-Collab-Backend.git
    branch = main

[submodule "frontend"]
    path = frontend
    url = https://github.com/swarupcs/Dev-Collab-Frontend.git
    branch = main
